
QPen {
	color: #ffffff;
}

QPen:focus {
	color: #ff3232;
}

QPen:selected {
	color: #0094ff;
}

QPen::grid {
	color: #4b4b4b;
}



/* QFrame - Border */

QWidget[background='dark'] {
	background-color: #1A1A1A;
}

QWidget[background='light'] {
	background-color: #262626;
}

QWidget[border-top=true] {
	border-top: 1px solid #313131;
	border-radius: 0px;
}

QWidget[border-bottom=true] {
	border-bottom: 1px solid #313131;
	border-radius: 0px;
}

QWidget[border-left=true] {
	border-left: 1px solid #313131;
	border-radius: 0px;
}

QWidget[border-right=true] {
	border-right: 1px solid #313131;
	border-radius: 0px;
}





